
body{ background-color: rgb(222, 239, 255);}
*,body{
    font-family:  helvetica , "Noto Sans JP";
    text-decoration:none;
    text-align: center;
    font-size: 100%;
}

h1{font-weight: 600;}
a {color:rgb(43, 105, 192); transition: 0.3s;} 
a:hover{color:rgb(76, 130, 205); transition: 0.3s;}

.box {
    position: fixed;
    position     : relative;
    margin       : auto;
    width        : 80%;
    height       : 75px;
    background   : rgba(255, 255, 255,0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
}

.button{
border-radius: 10px;
    display: block;
    width: 70px;
    height: 70px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    appearance: none;
    margin:auto;    
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone{display: none;}
@media screen and (max-width:768px) {
    .phone{display: block;}
}

.sns-buttons{
    display: flex;
    margin-right: 40%;
    margin-left: 40%;
}

@media screen and (max-width:768px) {
    .sns-buttons{
        display: flex;
        margin-right: 10%;
        margin-left: 10%;
    }
}
