
body{ background-color: rgb(213, 235, 255);}
*,body{
    font-family:  helvetica , "Noto Sans JP";
    text-decoration:none;
    text-align: center;
}

h1{font-weight: 600;}
a {color:rgb(43, 105, 192); transition: 0.3s;} 
a:hover{color:rgb(76, 130, 205); transition: 0.3s;}

.box {
    position: fixed;
    position     : relative;
    margin       : auto;
    width        : 80%;
    height       : 75px;
    background   : rgba(255, 255, 255,0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
}