body{
    background-color: rgb(213, 235, 255);
}
*{
    font-family: helvetica;  
    text-decoration:none;

}

a {color:rgb(43, 105, 192); transition: 0.3s;} 
a:hover{color:rgb(76, 130, 205); transition: 0.3s;}

.box {
    position     : relative;
    margin       : auto;
    width        : 80%;
    height       : 75px;
    background   : rgba(255, 255, 255,0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
}